<%= form_with(model: course) do |form| %>
  <%= form.fields_for :content, course.content || course.build_content do |content_form| %>
    <% if course.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= content_form.label :title, style: "display: block" %>
      <%= content_form.text_field :title %>
    </div>

    <div>
      <%= content_form.label :subtitle, style: "display: block" %>
      <%= content_form.text_field :subtitle %>
    </div>

    <div>
      <%= content_form.label :description, style: "display: block" %>
      <%= content_form.textarea :description %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
